<div>
    <h1>{{word}}</h1>
</div>
<div class="board">
    <div class="board-row" *ngFor="let attempt of board.totalAttempts| loopNumber">
        <div class="board-cell" *ngFor="let letter of board.word| loopWord;let i = index">
            <span>{{board.attempts[attempt] ? board.attempts[attempt].letters[i] : '?'}}</span>
        </div>
    </div>
</div>
<div>
    <input #intent name="intent" type="text">
    <button (click)="clickSend(intent.value)">Send</button>
</div>
<div>
    <h1>{{board.status.toString()}}</h1>
</div>